# Appending dataframes (example)

## - Import Python modules

In [1]:
# statement to generate plotly offline graphs within Jupyter
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

# statement needed to save plots generated from `plotly.offline` when working in Jupyter notebook
import plotly.offline as offline
# load Plotly's graph objects and figure factory(to create special graph) 
import plotly.graph_objs as go
import plotly.figure_factory as ff
# load tools class from Plotly, to create subplots
from plotly import tools

%matplotlib inline
import os 
import glob
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as py
import pandas as pd

## - Download scRNA-seq expression datasets from GEO FTP site

In [2]:
#os.chdir('./workspace/data')
#
#os.system('wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE70nnn/GSE70235/suppl/GSE70235_Bulk.txt.gz')
#os.system('wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE70nnn/GSE70236/suppl/GSE70236_Cmp.txt.gz')
#os.system('wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE70nnn/GSE70238/suppl/GSE70238_GG1.txt.gz')
#os.system('wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE70nnn/GSE70239/suppl/GSE70239_Gfi1.Null.txt.gz')
#os.system('wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE70nnn/GSE70240/suppl/GSE70240_Gmp.txt.gz')
#os.system('wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE70nnn/GSE70241/suppl/GSE70241_IG2.txt.gz')
#os.system('wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE70nnn/GSE70242/suppl/GSE70242_Irf8.Null.txt.gz')
#os.system('wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE70nnn/GSE70243/suppl/GSE70243_LK.CD34+.txt.gz')
#os.system('wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE70nnn/GSE70244/suppl/GSE70244_Lsk.txt.gz')
#os.system('wget ftp://ftp.ncbi.nlm.nih.gov/geo/series/GSE78nnn/GSE78907/suppl/GSE78907_Gfi1.Null.Irf8.Null.txt.gz')
#
#os.system('gzip -d *.txt.gz')

## - Read in and manipulate the gene expression datasets

In [3]:
os.chdir('/Users/Mustafa/Desktop/scRNAseq_project')

In [4]:
os.getcwd()

'C:\\Users\\Mustafa\\Desktop\\scRNAseq_project'

In [5]:
'''Reading each of the tab-seperated expression datasets into DataFrame object'''
df_bulk = pd.read_csv('{}/data/GSE70235_Bulk.txt'.format(os.getcwd()), sep='\t')
df_cmp = pd.read_csv('{}/data/GSE70236_Cmp.txt'.format(os.getcwd()), sep='\t')
df_gg1 = pd.read_csv('{}/data/GSE70238_GG1.txt'.format(os.getcwd()), sep='\t')
df_gfi1_null = pd.read_csv('{}/data/GSE70239_Gfi1.Null.txt'.format(os.getcwd()), sep='\t')
df_gmp = pd.read_csv('{}/data/GSE70240_Gmp.txt'.format(os.getcwd()), sep='\t')
df_ig2 = pd.read_csv('{}/data/GSE70241_IG2.txt'.format(os.getcwd()), sep='\t')
df_irf8_null = pd.read_csv('{}/data/GSE70242_Irf8.Null.txt'.format(os.getcwd()), sep='\t')
df_lk = pd.read_csv('{}/data/GSE70243_LK.CD34+.txt'.format(os.getcwd()), sep='\t')
df_lsk = pd.read_csv('{}/data/GSE70244_Lsk.txt'.format(os.getcwd()), sep='\t')
df_gfi1_irf8_nulls = pd.read_csv('{}/data/GSE78907_Gfi1.Null.Irf8.Null.txt'.format(os.getcwd()), sep='\t')

In [6]:
def mainpulate(data_frame):
    '''This function takes a dataframe object and sets the first column as the index'''
    '''It selects Foxm1 and Rhno1 genes in the columns'''
    data_frame.columns.values[0] = 'uid' 
    data_frame = data_frame.set_index('uid') # assign the genes column as the index 
    data_frame = data_frame.loc[data_frame.index.isin(['Foxm1','Rhno1'])] # only select the genes from the index
    #print(data_frame)

    return data_frame # return the input dataframe object

In [7]:
'''runing `mainpulate()` on each of the DataFrame objects'''
df_bulk = mainpulate(df_bulk)
df_cmp = mainpulate(df_cmp)
df_gg1 = mainpulate(df_gg1)
df_gfi1_null = mainpulate(df_gfi1_null)
df_gmp = mainpulate(df_gmp)
df_ig2 = mainpulate(df_ig2)
df_irf8_null = mainpulate(df_irf8_null)
df_lk = mainpulate(df_lk)
df_lsk = mainpulate(df_lsk)
df_gfi1_irf8_nulls = mainpulate(df_gfi1_irf8_nulls)

In [8]:
'''examining df_bulk object after running the function'''
df_bulk.head()

,11RosaH,12RosaH,14RosaF,16RosaF,17Rosa-,18Rosa-,8RosaH,9RosaH,CAG-14914,CAG-14915,CMP,GMP,Gfi1.Null,Irf8.Null,LSK
uid,,,,,,,,,,,,,,,
Foxm1,5.295356,5.413797,5.392317,5.454176,5.853247,5.810443,5.423914,5.148527,6.089583,5.609105,5.471838,5.665052,4.945327,4.851499,5.555816
Rhno1,4.618239,4.848498,4.586765,5.095924,4.316146,5.121015,4.771357,4.982765,4.405992,5.068671,5.511278,5.610287,5.305971,5.696828,5.837943

In [9]:
'''join the datasets into a single DataFrame object '''
df_all = df_bulk.join(df_cmp).join(df_gg1).join(df_gfi1_null).join(df_gmp).join(df_ig2).join(df_irf8_null).join(df_lk).join(df_lsk).join(df_gfi1_irf8_nulls)

In [10]:
'''transpose the DataFrame object, such that the genes become the columns '''
df_all = df_all.T
df_all

uid                 Foxm1     Rhno1
11RosaH          5.295356  4.618239
12RosaH          5.413797  4.848498
14RosaF          5.392317  4.586765
16RosaF          5.454176  5.095924
17Rosa-          5.853247  4.316146
18Rosa-          5.810443  5.121015
8RosaH           5.423914  4.771357
9RosaH           5.148527  4.982765
CAG-14914        6.089583  4.405992
CAG-14915        5.609105  5.068671
CMP              5.471838  5.511278
GMP              5.665052  5.610287
Gfi1.Null        4.945327  5.305971
Irf8.Null        4.851499  5.696828
LSK              5.555816  5.837943
Cmp.1            0.000000  5.250962
Cmp.2            0.000000  0.000000
Cmp.3            0.400538  0.985500
Cmp.4            0.000000  0.000000
Cmp.5            2.077243  8.467116
Cmp.6            0.485427  8.670267
Cmp.7            0.739848  7.841470
Cmp.8            0.000000  0.000000
Cmp.9            1.691534  8.061128
Cmp.10           0.000000  0.839960
Cmp.11           0.000000  0.925999
Cmp.12           0.000000  9.093998
Cmp.13           4.489928  0.000000
Cmp.14           0.000000  8.164304
Cmp.15           0.000000  2.361768
...                   ...       ...
Gfi1--Irf8--.G3  0.000000  5.726014
Gfi1--Irf8--.H3  0.000000  0.000000
Gfi1--Irf8--.A4  0.000000  1.090853
Gfi1--Irf8--.B4  0.000000  0.855990
Gfi1--Irf8--.D4  0.000000  0.000000
Gfi1--Irf8--.F4  0.000000  0.000000
Gfi1--Irf8--.H4  0.000000  0.000000
Gfi1--Irf8--.A5  0.226509  4.274262
Gfi1--Irf8--.C5  0.389567  7.218975
Gfi1--Irf8--.E5  0.000000  5.894090
Gfi1--Irf8--.F5  0.000000  7.530523
Gfi1--Irf8--.G5  0.000000  0.782409
Gfi1--Irf8--.H5  0.000000  0.632268
Gfi1--Irf8--.A6  0.000000  7.180506
Gfi1--Irf8--.C6  0.226509  8.171677
Gfi1--Irf8--.E6  0.000000  0.000000
Gfi1--Irf8--.F6  0.000000  7.219653
Gfi1--Irf8--.G6  0.000000  0.000000
Gfi1--Irf8--.H6  0.000000  8.926474
Gfi1--Irf8--.A7  0.000000  0.000000
Gfi1--Irf8--.B7  0.000000  0.000000
Gfi1--Irf8--.C7  6.812627  9.080551
Gfi1--Irf8--.D7  0.000000  0.000000
Gfi1--Irf8--.E7  2.017922  6.970854
Gfi1--Irf8--.F7  0.389567  8.205207
Gfi1--Irf8--.G7  0.000000  0.000000
Gfi1--Irf8--.H7  1.244887  8.063988
Gfi1--Irf8--.A8  0.000000  1.049631
Gfi1--Irf8--.C8  0.000000  9.754904
Gfi1--Irf8--.E8  0.000000  8.966477

[675 rows x 2 columns]

In [11]:
'''the dimentions of df_all object (rows, columns)'''
df_all.shape

(675, 2)

In [12]:
'''deleting data points where Foxm1 or Rhno1 expression equal to zero'''
df_all = df_all[df_all['Foxm1'] != 0]
df_all = df_all[df_all['Rhno1'] != 0]

In [13]:
'''examining the number of rows after the deletion'''
df_all.shape

(222, 2)

In [14]:
'''deleting data points where Foxm1 or Rhno1 expression less than 1'''
df_all = df_all.loc[df_all['Foxm1'] > 1]
df_all = df_all.loc[df_all['Rhno1'] > 1]

In [15]:
'''examining the number of rows after applying the second deletion'''
df_all.shape

(170, 2)

In [16]:
#adding new column 
df_foxm1 = df_all.loc[:,'Foxm1'].to_frame()
df_foxm1['gene'] = 'Foxm1'

df_rhno1 = df_all.loc[:,'Rhno1'].to_frame()
df_rhno1['gene'] = 'Rhno1'

df_foxm1.reset_index(inplace=True)
df_rhno1.reset_index(inplace=True)

In [17]:
df_foxm1.merge(df_rhno1, on=['index']).head()

     index     Foxm1 gene_x     Rhno1 gene_y
0  11RosaH  5.295356  Foxm1  4.618239  Rhno1
1  12RosaH  5.413797  Foxm1  4.848498  Rhno1
2  14RosaF  5.392317  Foxm1  4.586765  Rhno1
3  16RosaF  5.454176  Foxm1  5.095924  Rhno1
4  17Rosa-  5.853247  Foxm1  4.316146  Rhno1

In [18]:
df_all.head()

uid         Foxm1     Rhno1
11RosaH  5.295356  4.618239
12RosaH  5.413797  4.848498
14RosaF  5.392317  4.586765
16RosaF  5.454176  5.095924
17Rosa-  5.853247  4.316146

In [19]:
df_all.reset_index(inplace=True)

In [20]:
df_all.head()

uid    index     Foxm1     Rhno1
0    11RosaH  5.295356  4.618239
1    12RosaH  5.413797  4.848498
2    14RosaF  5.392317  4.586765
3    16RosaF  5.454176  5.095924
4    17Rosa-  5.853247  4.316146

In [21]:
df_foxm1 = df_all[['index','Foxm1']]
df_rhno1 = df_all[['index','Rhno1']]

In [22]:
df_foxm1.head()

uid    index     Foxm1
0    11RosaH  5.295356
1    12RosaH  5.413797
2    14RosaF  5.392317
3    16RosaF  5.454176
4    17Rosa-  5.853247

In [23]:
df_rhno1.head()

uid    index     Rhno1
0    11RosaH  4.618239
1    12RosaH  4.848498
2    14RosaF  4.586765
3    16RosaF  5.095924
4    17Rosa-  4.316146

In [24]:
df_foxm1.columns = ['sample','expression']
df_rhno1.columns = ['sample','expression']
df_foxm1['gene'] = 'Foxm1'
df_rhno1['gene'] = 'Rhno1'

In [25]:
df_foxm1.head()

    sample  expression   gene
0  11RosaH    5.295356  Foxm1
1  12RosaH    5.413797  Foxm1
2  14RosaF    5.392317  Foxm1
3  16RosaF    5.454176  Foxm1
4  17Rosa-    5.853247  Foxm1

In [26]:
df_rhno1.head()

    sample  expression   gene
0  11RosaH    4.618239  Rhno1
1  12RosaH    4.848498  Rhno1
2  14RosaF    4.586765  Rhno1
3  16RosaF    5.095924  Rhno1
4  17Rosa-    4.316146  Rhno1

In [27]:
# appending df_foxm1 and df_rhno1 dataframes into a single df
df_foxm1_rhno1 = df_foxm1.append(df_rhno1)

In [29]:
df_foxm1_rhno1

                 sample  expression   gene
0               11RosaH    5.295356  Foxm1
1               12RosaH    5.413797  Foxm1
2               14RosaF    5.392317  Foxm1
3               16RosaF    5.454176  Foxm1
4               17Rosa-    5.853247  Foxm1
5               18Rosa-    5.810443  Foxm1
6                8RosaH    5.423914  Foxm1
7                9RosaH    5.148527  Foxm1
8             CAG-14914    6.089583  Foxm1
9             CAG-14915    5.609105  Foxm1
10                  CMP    5.471838  Foxm1
11                  GMP    5.665052  Foxm1
12            Gfi1.Null    4.945327  Foxm1
13            Irf8.Null    4.851499  Foxm1
14                  LSK    5.555816  Foxm1
15                Cmp.5    2.077243  Foxm1
16                Cmp.9    1.691534  Foxm1
17               Cmp.17    5.950235  Foxm1
18               Cmp.21    3.047887  Foxm1
19               Cmp.22    5.559492  Foxm1
20               Cmp.25    7.546431  Foxm1
21               Cmp.30    8.754988  Foxm1
22               Cmp.31    1.007196  Foxm1
23               Cmp.38    1.244887  Foxm1
24               Cmp.43    3.386811  Foxm1
25               Cmp.45    1.201634  Foxm1
26               Cmp.47    4.438958  Foxm1
27               Cmp.51    7.392747  Foxm1
28               Cmp.53    4.386121  Foxm1
29               Cmp.55    2.056584  Foxm1
..                  ...         ...    ...
140          LK.CD34+.7    1.464668  Rhno1
141         LK.CD34+.12    4.557655  Rhno1
142         LK.CD34+.14    3.257011  Rhno1
143         LK.CD34+.28    8.813557  Rhno1
144         LK.CD34+.32    8.613090  Rhno1
145         LK.CD34+.34    7.456806  Rhno1
146         LK.CD34+.35    6.269220  Rhno1
147         LK.CD34+.38    8.735421  Rhno1
148         LK.CD34+.39    3.738768  Rhno1
149         LK.CD34+.45    1.124328  Rhno1
150         LK.CD34+.56    7.990388  Rhno1
151         LK.CD34+.57    7.474030  Rhno1
152         LK.CD34+.60    9.524777  Rhno1
153         LK.CD34+.61    2.675816  Rhno1
154         LK.CD34+.64    8.432417  Rhno1
155         LK.CD34+.65    7.733693  Rhno1
156              Lsk.28   10.264278  Rhno1
157              Lsk.32    8.741433  Rhno1
158              Lsk.52    7.181699  Rhno1
159              Lsk.59    7.388017  Rhno1
160              Lsk.77    8.871782  Rhno1
161              Lsk.86    7.860218  Rhno1
162     Gfi1--Irf8--.C1    7.537684  Rhno1
163     Gfi1--Irf8--.E1    5.177918  Rhno1
164     Gfi1--Irf8--.B2    9.187822  Rhno1
165     Gfi1--Irf8--.D2    7.821391  Rhno1
166  Gfi1--Irf8--.E2-60    8.820530  Rhno1
167     Gfi1--Irf8--.C7    9.080551  Rhno1
168     Gfi1--Irf8--.E7    6.970854  Rhno1
169     Gfi1--Irf8--.H7    8.063988  Rhno1

[340 rows x 3 columns]